<!-- Navbar & Hero Start -->
<div class="container-fluid nav-bar sticky-top px-4 py-2 py-lg-0">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href="" class="navbar-brand p-0">
      <h1 class="display-6 text-dark"><i class="fas fa-swimmer text-primary me-3"></i>NossoClube</h1>
      <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mx-auto py-0">
       <a href="index.html" onclick="clicou(event)" class="nav-item nav-link home">Home</a>
                    <a href="about.html" onclick="clicou(event)" class="nav-item nav-link about">Sobre Nós</a>
                    <a href="service.html" onclick="clicou(event)" class="nav-item nav-link services">Serviços</a>
                    <a href="blog.html" onclick="clicou(event)" class="nav-item nav-link news">Notícias</a>

        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Veja +</a>
          <div class="dropdown-menu m-0">
            <a href="feature.html" class="dropdown-item">Novidades</a>
            <a href="gallery.html" class="dropdown-item">Galeria de Fotos</a>
            <a href="attraction.html" class="dropdown-item">Atrações</a>
            <a href="package.html" class="dropdown-item">Associação</a>
            <a href="team.html" class="dropdown-item">Nosso time</a>
            <a href="testimonial.html" class="dropdown-item">O que dizem</a>
          </div>
        </div>
       <a href="contact.html" onclick="clicou(event)" class="nav-item nav-link contact">Contato</a>
      </div>
      <div class="team-icon d-none d-xl-flex justify-content-center me-3">
        <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
        <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
        <a class="btn btn-square btn-light rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
      </div>
      <a href="#" class="btn btn-primary rounded-pill py-2 px-4 flex-shrink-0">Registrar</a>
    </div>
  </nav>
</div>
<!-- Navbar & Hero End -->